body {
  text-align: center;
  background-image: url(20210821_120437.jpg);
  background-size: cover;
  padding-bottom: 1000px;
  
}

h1,
h2 {
  color: white;
  font-weight: bold;
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
}

button {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: rgb(79, 79, 235);
  color: white;
  border-width: 0px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 1);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  transition: opacity 0.20s, background-color 0.20s, color 0.20s, padding 0.20s
}


button:hover {
opacity: 0.9;
background-color: white;
color: rgb(79, 79, 235);
padding: 25px;
}

button:active {
  opacity: 0.7;
  margin-top:5px ;
  margin-left:5px;
}
